extends layout

block head
  script(src="https://code.jquery.com/jquery-1.12.4.min.js")
  script(src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")
  script(src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js")

block content
  .container
    h1= table.title
    table( data-order=table.order )
      thead
        tr
          each column in table.columns
            th( width=column.width )= column.title
      tbody
        each row in table.rows
          tr
            each cell in row
              td= cell

  script.
    $(document).ready(function(){
      $('table').DataTable({
        scrollY: ( window.innerHeight - 50 ) / 2,
        paging: false
      });
    });